.button-label {
    color: var(--colorMidBlue);
    display: flex;
    font-size: 1.5em;
    font-weight: bold;
    left: 50%;
    padding-left: 30px;
    padding-right: 30px;
    position: absolute;
    top: 55%;
    transform: translate(-50%, -50%);
}
.help-button {
    height: 200px;
}
.support-sheet-toggle {
    background-color: transparent;
    border: none !important;
    grid-column: 1/2;
    position: relative;
    text-align: center;
}
.support-carousel {
    grid-column: 2/3;  
}
.support-section {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}